<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="contact.css" rel="stylesheet">
    <title>FRwebby</title>
</head>
<body>
    <h1>Welcome to  <div class="fr"> Frwebby</div></h1><hr><br><h2>We're glad to help</h2>
    <br><br>
    <h3>
        <div class="location"><i class='fas fa-map-marker-alt'></i> :Tamil nadu,India.</div>
        <div class="phno">&#x1F4F1  :6374005802</div>
        <div class="mail"><i class="fa fa-google-plus"></i> : farhaanfar222@gmail.com</div></h3><br>
    
</body>
</html>