<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRwebby-error</title>
    <link rel="stylesheet" href="error.css">
</head>
<body style="background-color: rgb(48, 113,133); margin:0; padding:0'">
    <h1>Hi gentlemen, you have written wrong details</h1>  
    
</body>
</html>