<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <script src="index.js" defer></script>
</head>
<body>
    <div class="heading">
        <div class="main">
            <div class="fr">Frwebby</div>
            <div class="nav">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <nav class="navvy">
            <a href="/contact">contact</a> 
            <a href="/signin">sign in</a>
            <a href="/signup">sign up</a>
         </nav>    
    </div>
    <div class="content">
        <h3>webskills made visual<br>designs are functional</h3>
        <div class="info">
            <div class="skills">
                <div class="frontend">
                    <h1>Frontend languages we use</h1>
                        <div class="html">
                            <h2>HTML:5</h2>
                            <div class="bar"><div class="b1"></div></div>
                        </div> 
                        <div class="css">
                            <h2>CSS3</h2>
                            <div class="bar"><div class="b2"></div></div>
                        </div>
                        <div class="js">
                            <h2>JAVASCRIPT</h2>
                            <div class="bar"><div class="b3"></div></div>
                        </div>
                        <div class="angular">
                            <h2>ANGULAR 8</h2>
                            <div class="bar"><div class="b4"></div></div>
                        </div>
                        <div class="angularjs">
                            <h2>ANGULARJS</h2>
                            <div class="bar"><div class="b5"></div></div>
                        </div>               
                </div>
                <div class="backend">
                    <h1>Backend languages we use</h1>
                        <div class="node">
                            <h2>NODE.JS</h2>
                            <div class="bar"><div class="b6"></div></div>
                        </div> 
                        <div class="knex">
                            <h2>KNEXJS</h2>
                            <div class="bar"><div class="b7"></div></div>
                        </div>
                        <div class="postg">
                            <h2>POSTGRESQL</h2>
                            <div class="bar"><div class="b8"></div></div>
                        </div>
                        <div class="heruko">
                            <h2>HERUKO</h2>
                            <div class="bar"><div class="b9"></div></div>
                        </div>               
                </div>
            </div>
            <div class="specials">
                <h1>
                    Why us?
                </h1>
                <ul>
                    <li><b>Cheap cost</b></li>
                    <li><b>Very short duration</b></li>
                    <li><b>Fast updates to the client</b></li>
                    <li><b>Client custamization available</b></li>
                    <li><b>Video call weekend updates available</b></li>
                    <li><b>Responsive web designs</b></li>
                </ul>
            </div>
            <div class="footer">
                <h1>Everything is to make sure the client's comfort zone..that's what we need...</h1>
            </div>
        </div>
    </div>
    

</body>
</html>