<html>
    <head>
       <title>
            farru
       </title>
        <link rel="stylesheet" href="farru.css">
          <style>
              ::-moz-placeholder
              {
                  color:black;
                  font-size: 10pt;
                  font-family: cursive;
              }
              ::-webkit-input-placeholder
              {
                  font-family: cursive;
                  color:black;
                  font-size: 10pt;
              }
              ::-ms-input-placeholder
              {
                  color:black;
                  font-size: 10pt;
                  font-family: cursive;
              }
              ::-webkit-scrollbar
              {
                    width: 25px;
                    background-color: black;
                     
              }
              ::-webkit-scrollbar-thumb
              {
                  background-color: #8c8c8c;
                  border-radius: 10px; 
              }

        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
            <div class="flex1">
                <div class="title">
                    <font class="rest" size=8pt   color="#f74356">FR</font>
                    <font class="lobby" color="#f74356" size="6pt"> webby</font>
                </div>
                <a class="button">&#9776</a>
            </div>
            <div class="navvybar" name=navvy>
                <a href="/" class="same">home</a>
                <a href="/contact" class="same"> contact</a>
                <a href="/signin" class="same">help</a>
                <a href="/signup" class="same" >
                    sign up</a>
            </div>
                
             
        
                    
        
            
        
        <div class="flex">
            <p class="fr">FR</p>
            <br>
            <form name="form" method= "POST" action="/signin">
                <font class="lobby" color="#66b3ff" size=6pt c>welcome to</font><font class="rest" size=10pt color=#F74356> FR </font><font class="lobby" color=#66b3ff size=6pt>webby!!!</font><br><br><br><br>
                <font class="rest" color=#66b3ff >E-mail</font><br><br><input name="email" value="" type="text" placeholder="Enter the mail id" required style="font-family: cursive"><br><br>
                <font class="rest" color=#66b3ff >password</font><br><br><input name="password" type="password" placeholder="enter above 6 characters" required> <br><br>
                <!--<a href="/home/signin" id="sign" type="submit" value="submit">sign in</a>-->
                <button>signin</button>
            </form>
            <script src="farru 1 1.js"></script>
        </div>
    </body>
</html>